* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}

body {
    background: url(./background.png) ;
    background-size: cover;
}




nav{
  background: rgb(245, 249, 248);
  height: 80px;
  width: 100%;
  }
.logo{
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
  }
nav ul{
    float: right;
    margin-right: 20px;
  }
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  #logout{
    display: none;
    background-color: #fff;
    color: black;
    font-size: 17px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
  }

  #logout:hover{
    background-color: black;
    color:#fff;
    transition: 0.3s;

  }
a.active,a:hover{
    background: black;
    color: #fff;
    transition: .5s;
}
/* RESPONSIVE NAVBAR MENU STARTS */


input[id="checkbox_toggle"] {
  display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
  display: none;
  font-size: 36px;
  user-select: none;
  }

  

  /* APPLYING MEDIA QUERIES */
@media (max-width: 790px) {
  .menu {
  display:none;
  position: absolute;
  background-color: rgb(245, 249, 248);
  right: 0;
  left: 0;
  }
 
  
  .menu li:hover {
  display: inline-block;
  transition: 0.3s ease;
  
  }
  
  .menu li + li {
  margin-top: 5px;
 
  }
  
  input[type=checkbox]:checked ~ .menu {
  display: block;
  
  }
  
  .hamburger {
  display: block;
  
  }

  .hamburger:hover{
    color: #fff;
  }

  
}

.title{
    width: 100%;
    color: #fff;
    font-size: 35;
    text-align: center;
    display: block;
    padding-top: 50px;
    margin-top: 45px;

}


/* css for card */

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%; /* Adjust the value as needed */
}

.card {
  background: white;
  width: 270px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden; /* Add this line to hide any overflow */
}

.card-image {
  height: 150px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Add this line to hide any overflow */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p{
  padding: 10px;
}
.card h2{
  padding: 10px;
}
.ButtonForm button{
  width: 150px;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  outline: 0;
     
}

.ButtonForm button:hover{
  background-color: aquamarine;
  color:black;
  transition: 1s;
}

.card:hover{
  background-color: rgb(63, 63, 63);
  color: white;
  transform: scale(1.03);
  transition: all 1s ease;
  cursor:default;
}

#complete-button{
  width: 200px;
  margin-left: 35px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.complete{
  text-align: center;
}

#complete{
  display: none;
  color: white;
  background: green;
  border-radius:0 0 15px 15px;
}

#incomplete{
  color: white;
  background: red;
  border-radius:0 0 15px 15px;
  
}

.card1{
  background-image: url(./placeholder.jpg);
}

.card-image img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}
