* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}

body {
    background: url(./background.png) no-repeat;
    background-size: cover;
}




nav{
  background: rgb(245, 249, 248);
  height: 80px;
  width: 100%;
  }
.logo{
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
  }
nav ul{
    float: right;
    margin-right: 20px;
  }
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
#logout{
    display: none;
    background-color: #fff;
    color: black;
    font-size: 17px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
  }

  #logout:hover{
    background-color: black;
    color:#fff;
    transition: 0.3s;

  }
a.active,a:hover{
    background: black;
    color: #fff;
    transition: .5s;
}
/* RESPONSIVE NAVBAR MENU STARTS */


input[type=checkbox] {
  display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
  display: none;
  font-size: 36px;
  user-select: none;
  }

  

  /* APPLYING MEDIA QUERIES */
@media (max-width: 790px) {
  .menu {
  display:none;
  position: absolute;
  background-color:aquamarine;
  right: 0;
  left: 0;
  }
 
  
  .menu li:hover {
  display: inline-block;
  transition: 0.3s ease;
  }
  
  .menu li + li {
  margin-top: 12px;
  }
  
  input[type=checkbox]:checked ~ .menu {
  display: block;
  }
  
  .hamburger {
  display: block;
  
  }

  .hamburger:hover{
    color: #fff;
  }

  
}

.LoginForm {
    width: 500px;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    margin: 10px;
    

}

.LoginForm h1 {
    text-align: center;
    margin: 40px;
    font-size: 35px;
}

.LoginForm p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.LoginForm input {
    font-size: 15px;
    width: 96%;
    padding: 15px 15px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.LoginForm button {
    transition-duration: 0.4s;
    background-color: #fff;
    color: black;
    font-size: 15px;
    width: 50%;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    text-align: center;
    margin-top: 20px;
    margin-left: 125px
    
}

.LoginForm button:hover{
    background-color: aquamarine;
    
}
